<?php
/**
 * CDNPAL NGINAD Project
 *
 * @link http://www.nginad.com
 * @copyright Copyright (c) 2013-2015 CDNPAL Ltd. All Rights Reserved
 * @license GPLv3
 */

/**
 * Delivery Configuration Override
 */

return array(

		'delivery' => array(
				'url' => "http://www.nginad.com/delivery/impress",
				'adtag' => "http://www.nginad.com/ad/nginad.js",
				'in_house_ad_grep' => "www.nginad.net/delivery",
                'cache_file_location' => "cache/delivery/"
		),
);
